/* Nest in .video-js to increase specificity */
.video-js {
  .ClipTimestamp {
    position: absolute;
    top: 50%;
    opacity: 0.8;
    z-index: 1;
    transform: translate(-50%, -50%);
    height: auto;

    &::after {
      display: block;
      content: "";
      height: 0.8em;
      width: 1px;
    }

    &.start-timestamp {
      outline: oklab(from var(--green) calc(l * 1.5) a b) 1px solid;
      background: var(--green);
    }

    &.end-timestamp {
      outline: oklab(from var(--red) calc(l * 1.5) a b) 1px solid;
      background: var(--red);
    }
  }
}
