.SceneMarkerForm {
  form > * {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .input-group {
      .invalid-feedback {
        white-space: normal;
        flex: 1 1 100%;
        width: 0;
        max-width: 100%;
      }
    }
  }
}
