@import "./stash-styles.scss";

.ScenePlayer {
  .VideoPlayer {
    max-height: initial;
    padding-bottom: initial;

    &.portrait .video-wrapper {
      height: 100%; /* override stash style */
    }
  }
  
  &.hide-controls {
    .VideoPlayer {
      .vjs-control-bar > :not(.vjs-progress-control) {
        display: none;
      }
    }
  }
  
  &.hide-progress-bar {
    .VideoPlayer {
      .vjs-control-bar > .vjs-progress-control {
        display: none;
      }
    }
  }
  
  .vjs-big-button-group,
  .vjs-big-play-button {
    display: none !important;
  }
}