$secondary: #394b59;
$muted-gray: #bfccd6;
$success: #0f9960;
$warning: #d9822b;
$danger: #db3737;

$theme-colors: (
  primary: #137cbd,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  danger: $danger,
  dark: #394b59,
);

$body-bg: #202b33;
$text-muted: $muted-gray;
$link-color: #48aff0;
$link-hover-color: $link-color;
$text-color: #f5f8fa;
$pre-color: $text-color;
$navbar-dark-color: rgb(245, 248, 250);
$popover-bg: $secondary;
$dark-text: #182026;
$textfield-bg: rgba(16, 22, 26, 0.3);
$card-bg: #30404d;
$card-cap-bg: rgba(#000, 0.03);

@import "../../../vendor/stash/ui/v2.5/build/src/components/ScenePlayer/styles";