@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.SettingsTab {
  height: calc(var(--y-unit-small) * 100);
  position: fixed;
  top: var(--safe-inset-top);
  width: min(300px, 80%);
  touch-action: none;
  background-color: black;
  max-height: 100%;
  
  // Extend background out to the top, left and bottom to cover gaps during swipe
  &::before {
    content: "";
    position: absolute;
    top: -50%;
    right: 0;
    width: 200%;
    height: 200%;
    background-color: inherit;
  }
  
  // Add zone to the right to capture swipe gestures
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100px;
    height: calc(100% - var(--y-dynamic-diff) - 4em);
    z-index: 1; /* This as to be at last 1 to be interactive but should be below the video progress bar */
  }

  .content {
    background: inherit;
    height: 100%;
    height: calc(var(--y-unit-dynamic) * 100);
    width: 100%;
    z-index: 10;
    position: relative;

    display: grid;
    grid-template-rows:
      [canvas-top main-top] 1fr [main-bottom footer-top] minmax(
        $ui-button-size + ($spacer * 2),
        max-content
      )
      [footer-bottom canvas-bottom];
  }

  .body {
    padding: $spacer;
    grid-row: main-top / main-bottom;
    overflow-y: auto;
  }

  .footer {
    display: flex;
    align-items: center;
    padding: $spacer;
    grid-row: footer-top / footer-bottom;

    h2 {
      margin-right: auto;
      margin-bottom: 0;
    }

    button {
      appearance: none;
      border: 0;
      padding: 0;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      height: $ui-button-size;
      width: $ui-button-size;

      background-color: transparent;
      color: white;
      font-size: 28px;
      line-height: 1;
    }
  }

  .item {
    &:not(:last-child) {
      margin-bottom: $spacer * 2;
    }
  }

  .checkbox-item {
    label {
      display: flex;

      input[type="checkbox"] {
        margin-right: $spacer;
      }
    }

    h3 {
      margin-bottom: 0;
    }
  }

  .error,
  .warning {
    margin-top: $spacer;
    margin-bottom: $spacer;
    padding-top: $spacer;
    padding-bottom: $spacer;
    border-top: 3px solid;
    border-bottom: 3px solid;

    h2 span {
      margin-left: $ui-spacer * 2;
    }
  }

  &--error {
    border-color: red;
  }

  &--warning {
    border-color: gold;
  }
}

.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}