@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.SettingsTab {
  .item {
    &:not(:last-child) {
      margin-bottom: $spacer * 2;
    }
  }

  .checkbox-item {
    label {
      display: flex;

      input[type="checkbox"] {
        margin-right: $spacer;
      }
    }

    h3 {
      margin-bottom: 0;
    }
  }

  .error,
  .warning {
    margin-top: $spacer;
    margin-bottom: $spacer;
    padding-top: $spacer;
    padding-bottom: $spacer;
    border-top: 3px solid;
    border-bottom: 3px solid;

    h2 span {
      margin-left: $ui-spacer * 2;
    }
  }

  &--error {
    border-color: red;
  }

  &--warning {
    border-color: gold;
  }
}