.SettingsTab {
  .item {
    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }

  .checkbox-item {
    label {
      display: flex;

      input[type="checkbox"] {
        margin-right: 1em;
      }
    }

    h3 {
      margin-bottom: 0;
    }
  }

  .error,
  .warning {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 3px solid;
    border-bottom: 3px solid;

    h2 span {
      margin-left: 2em;
    }
  }

  &--error {
    border-color: red;
  }

  &--warning {
    border-color: gold;
  }
}