.SideDrawer {
  height: calc(var(--y-unit-dynamic) * 100);
  position: fixed;
  top: var(--safe-inset-top);
  width: min(300px, 80%);
  background-color: var(--body-bg);
  max-height: 100%;

  &.left-handed {
    &::before {
      right: unset;
      left: 0;
    }
  }

  // Extend background out to the top, left and bottom to cover gaps during swipe
  &::before {
    content: "";
    position: absolute;
    top: -50%;
    right: 0;
    width: calc(var(--x-unit-large) * 120);
    height: 200%;
    background-color: inherit;
  }

  .content {
    background: inherit;
    height: 100%; /* this is too small in iOS safari but too big when viewed as a web app on iOS */
    width: 100%;
    z-index: 10;
    position: relative;

    display: flex;
    flex-direction: column;
  }

  .body,
  .footer {
    padding: 1.5em;
  }

  .body {
    padding-bottom: 0;
    flex: 1 1 auto;
    grid-row: main-top / main-bottom;
    overflow-y: auto;
  }

  .footer {
    display: flex;
    align-items: center;
    grid-row: footer-top / footer-bottom;

    h2 {
      margin-right: auto;
      margin-bottom: 0;
    }

    > .action {
      appearance: none;
      border: 0;
      padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: transparent;
      font-size: 28px;
      line-height: 1;
      color: inherit; /* Not sure why this is necessary but it seems to be */
    }
  }
}

.settings-overlay {
  position: fixed;
  top: -50%;
  left: -50%;
  width: calc(var(--x-unit-large) * 200);
  height: calc(var(--y-unit-large) * 200);
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  touch-action: none; /* Disable scrolling videos when side drawer is open */
}
