.ActionButton {
  --button-size: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  /* Height is defined in root container to allow flex shrinking */
  height: var(--button-size);


  .side-info {
    transition: opacity 0.2s ease-in-out;
  }

  &:has(button[aria-describedby]) .side-info {
    opacity: 0;
  }

  button {
    appearance: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    width: var(--button-size);
    transition: scale 0.1s ease-in-out;

    &:hover {
      svg {
        scale: 1.1;
      }
    }

    svg {
      height: 28px;
      width: auto;
      /* Buttons will flex shrink as needed up to the size of the svg + any svg margin. We add a bit of margin to ensure
      they don't get too close to each other. */
      --flex-margin: 7px;
      margin-top: var(--flex-margin);
      margin-bottom: var(--flex-margin);
      --shadow-layer-opacity: 0.1;
      filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, var(--shadow-layer-opacity))) drop-shadow(-5px -5px 10px rgba(0, 0, 0, var(--shadow-layer-opacity))) drop-shadow(5px -5px 10px rgba(0, 0, 0, var(--shadow-layer-opacity))) drop-shadow(-5px 5px 10px rgba(0, 0, 0, var(--shadow-layer-opacity)));

      path {
        stroke: white;
        color: white;
      }
    }
  }
}

@keyframes slideInFromRight {
  from {
    translate: 0.5em;
    opacity: 0;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}

.action-button-side-panel {
  animation: slideInFromRight 0.1s ease-out forwards;
  background: var(--body-bg);
  color: var(--text-color);
  padding: 0.5em 0.9em;
  border: 0;
  border-radius: 0.5em;
}
