.ActionButton {
  display: flex;
  gap: 3px;
  justify-content: end;
  align-items: center;
  /* Height is defined in root container to allow flex shrinking */
  height: 50px;

  &.left-handed {
    justify-content: start;
    flex-direction: row-reverse;
  }

  &.size-auto {
    height: unset;
    justify-content: center;

    .button {
      width: unset;

      svg {
        margin: unset;
      }
    }
  }

  .side-info {
    transition: opacity 0.2s ease-in-out;
    margin-left: 0.5em;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
    font-weight: bold;
  }

  &:has(button[aria-describedby]) .side-info {
    opacity: 0;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    width: 40px;
    transition: scale 0.1s ease-in-out;
    color: inherit;

    button& {
      appearance: none;
      border: 0;
      padding: 0;
    }

    &:not([disabled]) {
      cursor: pointer;

      &:hover {
        svg {
          scale: 1.1;
        }
      }
    }

    svg {
      height: 28px;
      width: 100%;
      /* Buttons will flex shrink as needed up to the size of the svg + any svg margin. We add a bit of margin to ensure
      they don't get too close to each other. */
      --flex-margin: 7px;
      margin-top: var(--flex-margin);
      margin-bottom: var(--flex-margin);
      --shadow-layer-opacity: 0.2;
      --shadow-offset: 4px;
      --shadow-blur: 4px;
      filter:
        drop-shadow(calc(var(--shadow-offset) * 1)  calc(var(--shadow-offset) * 1)  var(--shadow-blur) rgba(0, 0, 0, var(--shadow-layer-opacity)))
        drop-shadow(calc(var(--shadow-offset) * -1) calc(var(--shadow-offset) * -1) var(--shadow-blur) rgba(0, 0, 0, var(--shadow-layer-opacity)))
        drop-shadow(calc(var(--shadow-offset) * 1)  calc(var(--shadow-offset) * -1) var(--shadow-blur) rgba(0, 0, 0, var(--shadow-layer-opacity)))
        drop-shadow(calc(var(--shadow-offset) * -1) calc(var(--shadow-offset) * 1)  var(--shadow-blur) rgba(0, 0, 0,
        var(--shadow-layer-opacity)));
    }
  }
}

@keyframes slideInFromRight {
  from {
    translate: 0.5em;
    opacity: 0;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.popover.action-button-side-panel {
  background: var(--body-bg);
  color: var(--text-color);
  padding: 0.7em 0.9em;
  border: 0;
  border-radius: 0.5em;
  font-size: unset;
  translate: calc(var(--safe-inset-right) * -1) 0 !important;

  > .arrow::after {
    border-left-color: var(--body-bg);
  }

  &.show {
    animation: slideInFromRight 0.1s ease-out forwards;
  }

  &:not(.show) {
    animation: fadeOut 0.1s ease-out forwards;
  }
}
