.ActionButton {
  --button-size: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  /* Height is defined in root container to allow flex shrinking */
  height: var(--button-size);

  button {
    appearance: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    width: var(--button-size);
    transition: scale 0.1s ease-in-out;

    &:hover {
      svg {
        scale: 1.1;
      }
    }

    svg {
      height: 28px;
      width: auto;
      /* Buttons will flex shrink as needed up to the size of the svg + any svg margin. We add a bit of margin to ensure
      they don't get too close to each other. */
      --flex-margin: 7px;
      margin-top: var(--flex-margin);
      margin-bottom: var(--flex-margin);
      --shadow-layer-opacity: 0.1;
      filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, var(--shadow-layer-opacity))) drop-shadow(-5px -5px 10px rgba(0, 0, 0, var(--shadow-layer-opacity))) drop-shadow(5px -5px 10px rgba(0, 0, 0, var(--shadow-layer-opacity))) drop-shadow(-5px 5px 10px rgba(0, 0, 0, var(--shadow-layer-opacity)));

      path {
        stroke: white;
        color: white;
      }
    }
  }
}
