@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.SettingsTab {
  @include fullHeight;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;

  display: grid;
  grid-template-rows:
    [canvas-top main-top] 1fr [main-bottom footer-top] minmax(
      $ui-button-size + ($spacer * 2),
      max-content
    )
    [footer-bottom canvas-bottom];

  background-color: black;
  transition: right ease-in-out;

  &.entering,
  &.entered {
    right: 0;
  }
  &.exiting,
  &.exited {
    right: 100%;
  }

  .body {
    padding: $spacer;
    grid-row: main-top / main-bottom;
    overflow-y: auto;
  }

  .footer {
    display: flex;
    align-items: center;
    padding: $spacer;
    grid-row: footer-top / footer-bottom;

    h2 {
      margin-right: auto;
      margin-bottom: 0;
    }

    button {
      appearance: none;
      border: 0;
      padding: 0;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      height: $ui-button-size;
      width: $ui-button-size;

      background-color: transparent;
      color: white;
      font-size: 28px;
      line-height: 1;
    }
  }

  .item {
    &:not(:last-child) {
      margin-bottom: $spacer * 2;
    }
  }

  .checkbox-item {
    label {
      display: flex;

      input[type="checkbox"] {
        margin-right: $spacer;
      }
    }

    h3 {
      margin-bottom: 0;
    }
  }

  .error,
  .warning {
    margin-top: $spacer;
    margin-bottom: $spacer;
    padding-top: $spacer;
    padding-bottom: $spacer;
    border-top: 3px solid;
    border-bottom: 3px solid;

    h2 span {
      margin-left: $ui-spacer * 2;
    }
  }

  &--error {
    border-color: red;
  }

  &--warning {
    border-color: gold;
  }
}
