html {
  scroll-snap-type: y mandatory;
  scroll-behavior: auto;
  container: viewport/size;

  &.force-landscape {
    scroll-snap-type: unset; /* When the root is rotated scroll snapping doesn't seem to work on the root so we set it on a child instead */

    & body {
      scroll-snap-type: y mandatory;
    }
  }

  body {
    padding: 0;
    /* Overrides value set in Stash's CSS */
    overflow-x: initial;
    /* iOS 26.1 seems to remove the ability to push content the status bar and instead shows a solid strip of colour there
    that is the background colour of the body. Annoying but until there's another option black looks less conspicuous. */
    background-color: black;
  }
}

kbd {
  /* The arrow keys chars look better in the the sans-serif font */
  font-family: var(--font-family-sans-serif);
}

html:has(dialog[open]) {
  &:not(.force-landscape),
  &.force-landscape body {
    overflow: hidden;
    scrollbar-gutter: stable;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  Utilities                                 */
/* -------------------------------------------------------------------------- */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
