/* -------------------------------------------------------------------------- */
/*                                  CSS reset                                 */
/* -------------------------------------------------------------------------- */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* -------------------------------------------------------------------------- */
/*                                  Stash-ify                                 */
/* -------------------------------------------------------------------------- */

html {
  font-size: 14px;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    Liberation Sans,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #000000;
  color: #f5f8fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

html:has(.force-landscape),
body:has(.force-landscape) {
  /*
  When in force landscape mode it shouldn't be possible to scroll up and down
  the viewport, instead scrolling should occur horizontally inside the rotated
  root element. Even though we make the root element not bigger than the viewport
  to avoid scrolling mobile browsers sometimes still have a "rubber band" effect
  when attempting to scroll passed the top or bottom. This breaks the illusion
  that we're in a true landscape orientation so we disable it.
  */
  overscroll-behavior: none;
}


/* -------------------------------------------------------------------------- */
/*                                  Utilities                                 */
/* -------------------------------------------------------------------------- */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}