.FeedPage {
  &:has(.status-info) {
    min-height: calc(var(--y-unit-small) * 100);
    min-width: calc(var(--x-unit-small) * 95); // No quite full width to account for scrollbar
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .status-info {
      .LoadingIndicator {
        padding-top: 0;
      }
    }

    > .ActionButton.settings {
      position: absolute;
      bottom: 4.5em;
      right: calc(1em + var(--safe-inset-right));
      opacity: 0.5;
    }
  }
}
