$bar-color: rgba(100, 100, 100, 0.5);
$buffer-color: rgba(170, 170, 170, 0.6);
$marker-color: rgb(240, 205, 5);
$progress-color: #fff;
$scrubber-bg-color: rgba(0, 0, 0, 0.35);
$tooltip-color: rgba(0, 0, 0, 0.6);
$tooltip-arrow-color: rgba(0, 0, 0, 0.6);

$scrubber-height: 10px;

$scene-info-spacer: 5px;
$ui-button-size: 50px;
$ui-spacer: 3px;

$scrubber-container-padding-bottom: $ui-spacer;
$scrubber-container-padding-top: $ui-spacer * 2;
$timecode-font-size: 0.8rem;
$timecode-padding-x: 10px;
$timecode-padding-y: 0;
