.EditTagSelectionForm {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;

    .actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }

    .tag-select {
      flex: 1 1 min-content;
    }
  }
  .pinned {
    button {
      margin: 0;
      padding: 0;

      &:hover:not(:disabled) {
        .add-icon {
          color: var(--text-color);
        }
      }

      .add-icon {
        background: none;
        border: none;
        color: var(--body-bg);
        font-size: 12px;
        line-height: 1rem;
        padding: 0 0.2rem 0 0.4rem ;
        position: relative;
      }
    }
  }
}
