.EditTagSelectionForm {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;

    .actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }

    .tag-select {
      flex: 1 1 min-content;
    }
  }
}
