.SettingsTab {
  .accordion {
    > button {
      display: block;
      padding: 0;
      width: 100%;
      text-align: left;

      &:focus {
        box-shadow: none;
      }

      text-decoration: none;

      h3 {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 0.5em;

        svg {
          transition: rotate 0.3s ease;
          translate: 0 calc(50% - 0.4cap);
        }
      }

      &.open {
        svg {
          rotate: -90deg;
        }
      }

      transition: margin-bottom 0.3s ease;

      margin-bottom: 0.2em;
      &.open + div {
        // Add margin to bottom of accordion body when open
        margin-bottom: 2.5rem;
      }
      &:not(.open) {
        // Add margin to bottom of accordion header when closed
        margin-bottom: 1.5rem;
      }
    }

    > button + div {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &.collapse:not(.show) {
        display: none;
      }
    }
  }

  .inline {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;

    &.text {
      align-items: baseline;
    }
  }

  .form-group {
    /* We use gap to space out items rather than margin */
    margin-bottom: 0;

    &.inline {
      margin-top: 0.5em;

      button {
        flex: 0 0 auto;
      }
    }
    .form-subgroup {
      margin: 1em auto;
    }
  }

  label {
    font-size: 1.3rem;
  }

  .form-group .form-group {
    margin-top: 1em;

    label {
      font-size: 1rem;
    }
  }

  .draggable-list {
    --item-padding: 0.3em;
    margin: calc(var(--item-padding) * -1) 0;

    .draggable-list-item {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;
      align-items: center;
      padding: var(--item-padding) 0;

      .drag-handle {
        display: flex;
        gap: 0.5em;
        align-items: center;
        // We give the drag handle some a little bit extra margin sticking out over the edge of it's container to slightly
        // increase the hit target and make grabbing the handle a little bit more forgiving.
        padding-left: 1.5em;
        margin-left: -1em;
      }

      .controls button {
        font-size: 1.3em;
        padding: 0.1em;
      }

      .inline {
        gap: 0.5em;
        align-items: center;
      }

      &.muted {
        opacity: 0.5;
      }
    }
  }


  .action-button-icon {
    width: 2em;
    height: 2em;
    padding: 0.1em;
  }

  .add-action-button {
    padding-left: 0.2em;
    text-align: left;

    .info {
      color: var(--text-color);
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }

  button {
    display: flex;
    gap: 0.5em;
    align-items: center;
    &.btn-link:hover {
      color: var(--link-hover-color);
    }
    &.muted {
      opacity: 0.5;
    }
    &:not(:hover).muted {
      color: var(--text-color);
    }
  }

  .error,
  .warning {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 3px solid;
    border-bottom: 3px solid;

    h2 span {
      margin-left: 2em;
    }
  }

  &--error {
    border-color: red;
  }

  &--warning {
    border-color: gold;
  }
}
