.SettingsTab {
  .accordion {
    > button {
      display: block;
      padding: 0;
      width: 100%;
      text-align: left;

      &:focus {
        box-shadow: none;
      }
      
      text-decoration: none;
      
      h3 {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 0.5em;

        svg {
          transition: rotate 0.3s ease;
          translate: 0 calc(50% - 0.4cap);
        }
      }
      
      
      &.open {
        svg {
          rotate: -90deg;
        }
      }
      
      transition: margin-bottom 0.3s ease;
      
      margin-bottom: 0.2em;
      &.open + div {
        // Add margin to bottom of accordion body when open
        margin-bottom: 2.5rem;
      }
      &:not(.open) {
        // Add margin to bottom of accordion header when closed
        margin-bottom: 1.5rem;
      }
    }
  }
  .item {
    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
  
  .form-group {
    margin-bottom: 0;
  }

  label {
    font-size: 1.3rem;
  }

  .checkbox-item {
    label {
      display: flex;

      input[type="checkbox"] {
        margin-right: 1em;
      }
    }

    h3 {
      margin-bottom: 0;
    }
  }
  
  .show-guide-overlay {
    display: flex;
    gap: 1em;
    margin-top: 0.5em;
    align-items: center;
    
    button {
      flex: 0 0 auto;
    }
  }

  .error,
  .warning {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 3px solid;
    border-bottom: 3px solid;

    h2 span {
      margin-left: 2em;
    }
  }

  &--error {
    border-color: red;
  }

  &--warning {
    border-color: gold;
  }
}