@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";


.VideoScroller {
  // height: 100dvh;
  position: relative;
  
  .VideoItem, .dummy-video-item {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}
