@import "../../styles/variables.scss";

// Copied from react-scrubber css import, and updated as needed.
$bar-color: rgba(100, 100, 100, 0.5);
$buffer-color: rgba(170, 170, 170, 0.6);
$marker-color: rgb(240, 205, 5);
$progress-color: #fff;
$scrubber-bg-color: rgba(0, 0, 0, 0.35);
$tooltip-color: rgba(0, 0, 0, 0.6);
$tooltip-arrow-color: rgba(0, 0, 0, 0.6);

$scrubber-height: 10px;

.scrubber {
  width: 100%;
  height: $scrubber-height;
  position: relative;
  user-select: none;
  touch-action: none;
  transition: all ease-in-out;

  * {
    user-select: none;
  }

  .bar {
    background: $bar-color;
    position: relative;
    transition:
      height 0.2s linear,
      width 0.2s linear,
      opacity 0.15s ease-in-out;

    &__progress {
      position: absolute;
      background: $progress-color;
    }

    &__buffer {
      position: absolute;
      background: $buffer-color;
    }

    &__thumb {
      position: absolute;
      width: 0px;
      height: 0px;
      border-radius: 10px;
      background: $progress-color;
      transition:
        height 0.2s linear,
        width 0.2s linear;
    }

    &__tooltip {
      position: absolute;
      padding: 2px 8px;
      background: $tooltip-color;
      pointer-events: none;
    }

    &__marker {
      position: absolute;
      background: $marker-color;
      z-index: 1;
    }
  }

  &.horizontal .bar {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;

    &__progress,
    &__marker,
    &__buffer {
      height: 100%;
    }

    &__thumb {
      transform: translate(-50%, -50%);
      top: 50%;
    }

    &__marker {
      width: 12px;
    }

    &__tooltip {
      transform: translate(-50%, calc(-100% - 12px));
    }

    &__tooltip-arrow {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $tooltip-arrow-color;
    }
  }

  &.vertical .bar {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;

    &__progress,
    &__marker,
    &__buffer {
      width: 100%;
      bottom: 0;
    }

    &__thumb {
      transform: translate(-50%, 50%);
      left: 50%;
    }

    &__marker {
      height: 12px;
    }

    &__tooltip {
      transform: translate(calc(-100% - 12px), 50%);
    }

    &__tooltip-arrow {
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid $tooltip-arrow-color;
    }
  }

  &.hover {
    &.horizontal .bar {
      height: 6px;
    }

    &.vertical .bar {
      width: 6px;
    }

    .bar {
      &__thumb {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.scrubber-container {
  padding-top: $ui-spacer * 2;
  padding-bottom: $ui-spacer;
  // Move the timecode away from the edge due to some curved screens
  padding-right: 15px;
  padding-left: 15px;

  background-color: $scrubber-bg-color;
  &.entering,
  &.entered {
    .bar {
      opacity: 1;
    }
  }
  &.exiting,
  &.exited {
    background-color: rgba(0, 0, 0, 0);
    .bar {
      opacity: 0.35;
    }
  }
}
