$scrubber-bg-color: rgba(0, 0, 0, 0.15);

$ui-button-size: 50px;
$ui-spacer: 3px;

.container {
  height: 100vh; // Fallback
  height: calc(var(--vsr-vh, 1vh) * 100);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background: #000;
  position: relative;
  border: 1px solid transparent;

  display: grid;
  grid-template-rows: [canvas-top main-top] 1fr [main-bottom scrubber-top] 20px [scrubber-bottom canvas-bottom];
  grid-template-columns: [canvas-start main-start] 1fr [main-end controls-start] (
      $ui-button-size + $ui-spacer
    ) [controls-end canvas-end];

  video {
    grid-column: canvas-start / canvas-end;
    grid-row: canvas-top / canvas-bottom;
    width: 100%;
    height: 100%;
    object-fit: cover;

    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.scrubber {
  grid-column: canvas-start / canvas-end;
  grid-row: scrubber-top / scrubber-bottom;
  height: 100%;
  bottom: 0;
  width: 100%;
  background-color: $scrubber-bg-color;
}

.controls {
  position: relative;
  grid-column: controls-start / controls-end;
  grid-row: main-top / main-bottom;

  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: $ui-spacer;
  margin-right: $ui-spacer;
  margin-bottom: $ui-spacer;

  button {
    height: $ui-button-size;
  }
}
