$scrubber-bg-color: rgba(0, 0, 0, 0.15);

.container {
  height: 100vh; // Fallback
  height: calc(var(--vsr-vh, 1vh) * 100);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background: #000;
  position: relative;
  border: 1px solid transparent;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.scrubber {
  height: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $scrubber-bg-color;
}
