.MediaSlide {
  height: 100%;
  background: #000;
  position: relative;

  .loadingDeferredPreview, .loadingDeferredDebugBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .loadingDeferredDebugBackground {
    background-color: greenyellow;
  }

  &.cover {
    video, img {
      object-fit: cover;
    }
    .vjs-poster {
      background-size: cover;
    }
  }
  &:not(.cover) {
    video, img {
      object-fit: contain;
    }
    .vjs-poster {
      background-size: contain;
    }
  }

  .debugStats {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    font-size: 12px;
    padding: 2px 5px;
    max-width: fit-content;
  }

  &.left-handed {
    .video-js {
      .vjs-control-bar {
        padding-left: calc(var(--safe-inset-right) + 50px);
        padding-right: unset;
      }
    }
  }

  .video-js {
    background-color: unset;

    .vjs-control-bar {
      height: unset;
      padding-bottom: var(--y-dynamic-diff);
      padding-right: calc(var(--safe-inset-right) + 50px);
      flex-wrap: wrap;
      column-gap: 1em;
      align-items: center;

      &::before {
        left: 0;
        right: 0;
      }

      .vjs-control {
        width: unset;
      }

      // Move the first and last items in a bit to account for curved corners of mobile devices
      .vjs-current-time {
        padding-left: 35px;
      }
      > .vjs-duration {
        padding-right: 15px;
      }

      .vjs-time-control {
        font-size: 0.8rem;
        display: block;
        height: unset;
      }
      .vjs-progress-control {
        position: unset;
        margin: 0 15px;
        width: calc(100% - (15px * 2));
        height: 2em; /* give the container (but not the bar itself) more height to make it a larger touch target on mobile */
        translate: 0 0.7em; /* but move down visually so it's not too spaced out */

        .vjs-progress-holder {
          margin: 0;
          background-color: rgb(115 115 115 / 20%);

          .vjs-load-progress {
            background: transparent;

            div {
              background: rgb(115 115 115 / 40%);
            }
          }

          /* Hide the current play position handle */
          .vjs-play-progress {
            &:before {
              color: transparent;
            }
          }

          /* Show a seeking position handle */
          .vjs-mouse-display {
            &:before {
              /* Taken from the default videojs play position handle */
              font-size: 0.9em;
              position: absolute;
              right: -0.5em;
              top: -0.3333333333em;
              z-index: 1;
              content: "\f111";
              font-family: VideoJS;
            }
          }
        }
      }
    }
    .vjs-loading-spinner {
      --size: 120px;
      width: var(--size);
      height: var(--size);
      border-radius: var(--size);
      margin: calc(var(--size)/2 * -1) 0 0 calc(var(--size)/2 * -1);
    }
    &.vjs-seeking .vjs-loading-spinner,
    &.vjs-waiting .vjs-loading-spinner {
      animation:
        vjs-spinner-show 0s linear 0.3s forwards, // This is in the default video.js styles
        media-slide-fade-in 2s ease-in 1s both; // We add this to more gently fade in the spinner
    }
  }

  // The edges of the video before and after the current video area are visible in some browsers (like mobile browsers
  // where a little bit of extra page content outside the viewport is visible under browser controls). To stop this
  // being distracting we reduce the visual weight of these.
  transition: filter 1s;
  .vjs-control-bar {
    transition: opacity 0.6s;
  }
  &:not(.current-video):not(.currentlyScrolling) {
    filter: brightness(0.7);
    transition: filter 1s;

    .vjs-control-bar {
      opacity: 0 !important;
      pointer-events: none !important;
      transition: opacity 1s;
    }
  }

  .currently-playing-marker .joiner {
    color: var(--text-muted);
    font-style: italic;
  }

  .tap-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    opacity: 0;
    pointer-events: none;
  }
  .tap-icon.transparent {
    opacity: 0.5 !important;
  }

  .ScenePlayer ~ * {
    // Fix for weird ios bug causing video to overlap side controls. Possibly related to this:
    // https://bugs.webkit.org/show_bug.cgi?id=212130
    -webkit-transform: translateZ(0);
  }

  .toggleable-ui-button {
    transition: opacity ease-in-out;
  }

  .ScenePlayer {
    width: 100%;
    height: 100%;
    object-fit: contain;

    justify-content: center;
    align-items: center;
    display: flex;

    .VideoPlayer {
      width: 100%;
      height: 100%;
    }

    .video-wrapper {
      height: 100%;
    }
  }

  --ui-toggle-transition-duration: 0.15s;

  &.hide-controls {
    .hide-on-ui-hide,
    .dim-on-ui-hide,
    .video-js.vjs-user-inactive .vjs-control-bar,
    .video-js .vjs-control-bar {
      opacity: 0;
      visibility: hidden;
      transition:
        opacity var(--ui-toggle-transition-duration) ease-in-out,
        visibility 0s linear var(--ui-toggle-transition-duration), /* delay visibility change until after opacity fades */
        var(--additional-transitions, --dummy-fallback-var-to-stop-it-braking);

      &.dim-on-ui-hide {
        opacity: 0.35;
        visibility: unset;
      }
    }
  }

  .SceneInfo:not(.active) {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity var(--ui-toggle-transition-duration) ease-in-out,
      visibility 0s linear var(--ui-toggle-transition-duration), /* delay visibility change until after opacity fades */
      var(--additional-transitions, --dummy-fallback-var-to-stop-it-braking);
  }

  .hide-on-ui-hide, .dim-on-ui-hide, .vjs-control-bar {
    transition:
      opacity var(--ui-toggle-transition-duration) ease-in-out,
      visibility 0s linear 0s, /* immediate visibility */
      var(--additional-transitions, --dummy-fallback-var-to-stop-it-braking);
  }

  video,
  .video-js .text-selection-on-gesture-workaround {
    user-select: none;
  }
  .video-js {
    video {
      z-index: 1;
    }
    .text-selection-on-gesture-workaround {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    > *:not(video):not(.text-selection-on-gesture-workaround) {
      z-index: 3;
    }
  }
}

@keyframes media-slide-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}
