.ActionButtonSettingsModal {
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5em;

    .ActionButton {
      height: unset;
      button {
        width: unset;
        svg {
          margin: unset;
        }
      }
    }
  }
  .modal-body {
    overflow: initial;
  }
}
