.GuideOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--y-unit-dynamic) * 100);
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 1fr min-content 1fr min-content;
  grid-template-areas:
    "header-left header-middle header-right"
    "top-left    top-middle    top-right"
    "middle-left middle-middle middle-right"
    "bottom-left bottom-middle bottom-right"
    "footer-left footer-middle footer-right";
  .header                     { grid-area: header-left / header-left / header-right / header-right; }
  .spacer.row-top.col-left        { grid-area: header-left / header-left / top-left / top-left; }
  .spacer.row-top.col-middle      { grid-area: header-middle / header-middle / top-middle / top-middle; }
  .spacer.row-top.col-right       { grid-area: header-right / header-right / top-right / top-right; }
  .body.row-middle.col-left   { grid-area: middle-left; }
  .body.row-middle.col-middle { grid-area: middle-middle; }
  .body.row-middle.col-right  { grid-area: middle-right; }
  .spacer.row-bottom.col-left   { grid-area: bottom-left / bottom-left / footer-left / footer-left; }
  .spacer.row-bottom.col-middle { grid-area: bottom-middle / bottom-middle / footer-middle / footer-middle; }
  .spacer.row-bottom.col-right  { grid-area: bottom-right / bottom-right / footer-right / footer-right; }
  .footer                     { grid-area: footer-left / footer-left / footer-right / footer-right; }
  z-index: 3;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);

  /* Reset styles applied by <dialog /> */
  color: inherit;
  border: inherit;
  padding: inherit;

  --view-unit-min: min(var(--x-unit-dynamic), var(--y-unit-dynamic));

  font-size: clamp(1rem, calc(var(--view-unit-min) * 3), 1.3rem);

  --cell-padding: min(2em, calc(var(--view-unit-min) * 3));
  --border: 1px solid #ffffff27;

  > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem var(--cell-padding);
    padding: var(--cell-padding);
    text-align: center;
    /* Add a shadow to give a slight readability boost against video content */
    text-shadow: black 0 0 30px;

    .svg-inline--fa {
      font-size: 5rem;
      color: #fff;
    }
  }

  .header {
    padding:
      calc(var(--cell-padding) + var(--safe-inset-top))
      calc(var(--cell-padding) + var(--safe-inset-left))
      var(--cell-padding)
      calc(var(--cell-padding) + var(--safe-inset-left));
    /* Doesn't really matter but when using dev tools to select the header by default it will select a spacer div
      instead as that is the next element in the DOM so is layered on top. Explicitly set z-index for the header and
      footer to change that */
    z-index: 1;
  }

  .body {
    /* we don't want the header/footer and the body double up on padding. But we also can't use gap because we want to
    use border to show a dividing line between the tap areas */
    padding-top: 0;
    padding-bottom: 0;
  }

  .body,
  .spacer {
    &:not(.col-left) {
      border-left: var(--border);
    }

    &.row-middle {
      justify-content: flex-start;
    }

    &.col-left {
      padding-left: calc(var(--cell-padding) + var(--safe-inset-left));
    }

    &.col-right {
      padding-right: calc(var(--cell-padding) + var(--safe-inset-right));
    }

    span {
      max-width: 15rem;
    }
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding:
      var(--cell-padding)
      calc(var(--cell-padding) + var(--safe-inset-right))
      calc(var(--cell-padding) + var(--safe-inset-bottom))
      calc(var(--cell-padding) + var(--safe-inset-left));
    gap: calc(var(--cell-padding) * 2);

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .actions {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      align-self: end;

      .accessInstructions {
        font-size: 0.9rem;
        opacity: 0.8;
        text-align: right;
        text-wrap: balance;
      }
    }
    button {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
