.ActionButtons {
  position: absolute;
  bottom: calc(var(--y-dynamic-diff) + 1em);
  padding-top: var(--safe-inset-top);
  padding-right: var(--safe-inset-right);
  right: 3px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  z-index: 2;
  pointer-events: none;

  >* {
    pointer-events: initial;
  }

  .ActionButton {
    /* Rotate icon if device is landscape to reflect device */
    @container viewport (min-aspect-ratio: 1/1) {
      /* width >= height */
      &.letterboxing svg {
        transform: rotate(90deg);
      }
    }

    svg {
      /* Compensate for icons with less mass having visually lighter shadows */
      &.fa-expand {
        --shadow-layer-opacity: 0.24;
      }

      &.fa-down-left-and-up-right-to-center {
        --shadow-layer-opacity: 0.14;
      }

      &.fa-repeat {
        --shadow-layer-opacity: 0.19;
      }

      &.fa-ellipsis-vertical {
        --shadow-layer-opacity: 0.26;
      }
    }
  }
}
