.ActionButtons {
  --bottom-offset: 1em;
  --top-offset: 1em;
  position: absolute;
  bottom: calc(var(--y-dynamic-diff) + var(--bottom-offset));
  padding-top: var(--safe-inset-top);
  padding-right: var(--safe-inset-right);
  right: 3px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  z-index: 2;
  pointer-events: none;
  max-height: calc(var(--y-unit-small) * 100 - var(--bottom-offset));


  .stack {
    position: relative;
    display: flex;
    /* We reverse the order so that we start from the bottom when scrollable */
    flex-direction: column-reverse;
    overflow-y: auto;
    overscroll-behavior: contain;

    --fade-height: 4em;
    --top-fade-height: var(--fade-height);
    --bottom-fade-height: var(--fade-height);
    mask-image: linear-gradient(
      to bottom,
      transparent 0,
      black var(--top-fade-height, 0),
      black calc(100% - var(--bottom-fade-height, 0)),
      transparent 100%
    );
    transition: --top-fade-height 1s, --bottom-fade-height 1s;
    mask-size: 100% calc(100% + ( var(--fade-height) * 2 ));
    mask-position: center;
    transition: mask-position 0.3s ease, mask-size 0.3s ease;
    padding-top: var(--top-offset);

    &.top-overflowing {
      /* animation: fade-top 2.5s ease infinite; */
      mask-position: top;
    }

    &.bottom-overflowing {
      /* animation: fade-bottom 2.5s ease infinite; */
      mask-position: bottom;
    }

    &.top-overflowing.bottom-overflowing {
      mask-size: 100% 100%;
      mask-position: center;
    }

    /* Not sure why but on firefox scrollbars take up space but in this case they don't cause the element's width to
    expand. Chrome's scroll bars also take up space but they do grow. This is a dirty hack to deal with that situation
    so the buttons aren't cut off. */
    &.scroll-width-hack {
      width: calc(100% + 16px);
    }

    /* gap: 2em; */

    > * {
      /* flex: 0 0 auto; */
    }
  }

  > * {
    pointer-events: initial;
  }

  .ActionButton {
    /* Rotate icon if device is landscape to reflect device */
    @container viewport (min-aspect-ratio: 1/1) {
      /* width >= height */
      &.letterboxing svg {
        transform: rotate(90deg);
      }
    }

    svg {
      /* Compensate for icons with less mass having visually lighter shadows */
      &.fa-expand {
        --shadow-layer-opacity: 0.24;
      }

      &.fa-down-left-and-up-right-to-center {
        --shadow-layer-opacity: 0.14;
      }

      &.fa-repeat {
        --shadow-layer-opacity: 0.19;
      }

      &.fa-ellipsis-vertical {
        --shadow-layer-opacity: 0.26;
      }
    }
  }
}
