.ActionButtons {
  --bottom-offset: 1.1em;
  position: absolute;
  bottom: calc(var(--y-dynamic-diff) + var(--bottom-offset));
  padding-top: var(--safe-inset-top);
  padding-right: var(--safe-inset-right);
  right: 0.6em;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  z-index: 3;
  max-height: calc(var(--y-unit-small) * 100 - var(--bottom-offset));

  .stack, .stack-inner {
    position: relative;
    display: flex;
    padding-top: 10px;
    /* We reverse the order so that we start from the bottom when scrollable */
    flex-direction: column-reverse;
    overflow-y: auto;
    /* Firefox will automatically make overflow-x visible if overflow-y is set to auto even if we try to explicitly set
overflow-x to visible. So we hide it instead to avoid horizontal scrollbars appearing. */
    overflow-x: hidden;
    overscroll-behavior: contain;

    --additional-transitions: var(--overflow-indicators-transition);
  }

  .toggle-ui {
    /* Stop the position of the toggle icon from shifting relative to the progress bar as the size of the buttons flexes */
    align-items: end;
    svg {
      margin-bottom: 10px;
    }
  }

  .ActionButton {
    /* Rotate icon if device is landscape to reflect device */
    @container viewport (min-aspect-ratio: 1/1) {
      /* width >= height */
      &.letterboxing svg {
        transform: rotate(90deg);
      }
    }

    svg {
      /* Compensate for icons with less mass having visually lighter shadows */
      &.fa-expand {
        --shadow-layer-opacity: 0.24;
      }

      &.fa-down-left-and-up-right-to-center {
        --shadow-layer-opacity: 0.14;
      }

      &.fa-repeat {
        --shadow-layer-opacity: 0.19;
      }

      &.fa-ellipsis-vertical {
        --shadow-layer-opacity: 0.26;
      }
    }
  }
}

/* These live inside the popover element which is rendered as a child of body */
.action-button-rating-stars {
  display: flex;

  &.not-set .clear,
  &:not(.stars) .clear,
  &:has(.rating-stars .star-rating-number) .clear {
    display: none;
  }

  .rating-stars {
    button {
      /* We don't want any margin or gap between the stars so that when moving the cursor between the cursor never goes
      over a space between the buttons which would cause it flick between showing a new rating, the current one and then
      a new one again. */
      margin: 0;

      > div {
        padding-left: 0.2em;
        padding-right: 0.2em;
      }
    }
  }

  .star-rating-number {
    order: -1;
    margin-left: 0;
    font-size: unset;
  }

  svg {
    width: 1.5em;
    height: 1lh;
    display: block; /* Remove small space under inline-blocks */
  }
}
.action-button-o-counter {
  display: flex;
  gap: 0.3em;

  button {
    background: none;
    border: none;
    color: inherit;

    &[disabled] {
      opacity: 0.4;
    }
  }
}
.action-button-rating-stars,
.action-button-o-counter {
  font-size: 1.2em;
}
