.ActionButtons {
  --bottom-offset: 1em;
  position: absolute;
  bottom: calc(var(--y-dynamic-diff) + var(--bottom-offset));
  padding-top: var(--safe-inset-top);
  padding-right: var(--safe-inset-right);
  right: 3px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  z-index: 2;
  max-height: calc(var(--y-unit-small) * 100 - var(--bottom-offset));

  .stack {
    position: relative;
    display: flex;
    /* We reverse the order so that we start from the bottom when scrollable */
    flex-direction: column-reverse;
    overflow-y: auto;
    /* Firefox will automatically make overflow-x visible if overflow-y is set to auto even if we try to explicitly set
overflow-x to visible. So we hide it instead to avoid horizontal scrollbars appearing. */
    overflow-x: hidden;
    overscroll-behavior: contain;

    --fade-height: 4em;
    --top-fade-height: var(--fade-height);
    --bottom-fade-height: var(--fade-height);
    mask-image: linear-gradient(
      to bottom,
      transparent 0,
      black var(--top-fade-height, 0),
      black calc(100% - var(--bottom-fade-height, 0)),
      transparent 100%
    );
    transition: --top-fade-height 1s, --bottom-fade-height 1s;
    mask-size: 100% calc(100% + ( var(--fade-height) * 2 ));
    mask-position: center;
    transition: mask-position 0.3s ease, mask-size 0.3s ease;

    &.top-overflowing {
      /* animation: fade-top 2.5s ease infinite; */
      mask-position: top;
    }

    &.bottom-overflowing {
      /* animation: fade-bottom 2.5s ease infinite; */
      mask-position: bottom;
    }

    &.top-overflowing.bottom-overflowing {
      mask-size: 100% 100%;
      mask-position: center;
    }
  }

  .ActionButton {
    /* Rotate icon if device is landscape to reflect device */
    @container viewport (min-aspect-ratio: 1/1) {
      /* width >= height */
      &.letterboxing svg {
        transform: rotate(90deg);
      }
    }

    svg {
      /* Compensate for icons with less mass having visually lighter shadows */
      &.fa-expand {
        --shadow-layer-opacity: 0.24;
      }

      &.fa-down-left-and-up-right-to-center {
        --shadow-layer-opacity: 0.14;
      }

      &.fa-repeat {
        --shadow-layer-opacity: 0.19;
      }

      &.fa-ellipsis-vertical {
        --shadow-layer-opacity: 0.26;
      }
    }
  }
}
